.container {
  display: flex;
  justify-content: center;
}

.form {
  background-color: #e6edf3;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 50%;
  padding: 5rem 15rem;
  margin-top: 3rem;
  border-radius: 2rem;
}
.timeContainer {
  display: flex;
  width: 30%;
  margin-left: 2rem;
  font-size: 2rem;
  align-items: center;
}
